// scss/LoginMask
@use "../settings/colors" as *;

div.ilStartupSection form.form-horizontal {
  border: none; // Set the border to none
}

#luhLogin {
  padding-top: 25px;
  margin-left: 2%;
  height: 400px;
  min-height: 400px;
  width: 600px;
  background-color:$il-brand-gray-luh-lighter;
  // background: linear-gradient(150deg, #00509b 0%, #003668 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  overflow: auto; // Add this property

  &:hover {
    box-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0, 80, 155, 0.3), 0 6px 20px 0 rgba(0, 80, 155, 0.25);
  }

  form.form-horizontal {
    width: inherit;
    background-color: transparent;

    #shib-button, #ilias-login-button {
      text-align: center;
    }

    input.btn {
      &:hover {
        background-color: $il-brand-primary;
        border: 1px solid $il-brand-primary;
      }
    }
  }
}

div.index_main nav {
  margin-left: 50px;
  margin-top: 50px;
  height: auto;
  display: block;
}

#luhLogin.expanded {
  height: auto;
  min-height: 700px; // Adjust this value based on your content
  padding-top: 0; // Remove padding-top when expanded
}

div.ilFormLoginMask {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  padding-right: 25px;
  padding-left: 20px;
  font-size: 20px;
}

div.ilFormLoginMask a {
  font-size: 23px;
  background-color: transparent;
}

div.ilFormLoginMask p {
    margin: 10px 0 10px;
}

#shib_login, #ilias_login_link {
  width: 200px;
  border: 1px solid;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 80, 155, 0.4);
  text-decoration: none;


  &:hover {
    background-color: rgba(0, 80, 155, 0.8);
    border: 1px solid rgba(0, 80, 155, 0.5);
    box-shadow: 0px 3px 6px rgba(0, 80, 155, 0.3);
    color: white;
  }
}

div.ilFormLoginMask p {
  font-size: 12px;
  color: #282828;
}

#shib-form-login-mask form.form-horizontal {
  text-align: left;
}

#not-websso-warning {
  display: inline-block;
  font-size: 14px;
  text-align: center; // Add this property
  width: 100%; // Add this property
}

#login_form_footer .form-horizontal,
#il_prop_cont_password,
#il_prop_cont_username,

.il-standard-form .il-standard-form-header, .il-standard-form .il-standard-form-footer {
    background: transparent;
}

.il-standard-form .il-standard-form-header {
    display: none;
    background: transparent;
}

div.ilStartupSection form.form-horizontal .form-group {
    background: transparent;
}

.il-standard-form .il-standard-form-header + .il-section-input > .il-section-input-header {
    background: transparent;
}
