// _colors.scss
$il-brand-primary: #00509b;
$il-brand-primary-luh-light: #99b9d8;
$il-brand-primary-luh-lighter: #ccdceb;
$il-brand-primary-luh-blue-transparent: rgba(0, 80, 155, 0.8);
$il-brand-primary-dark-blue: #003668;
$il-brand-green-luh: #c8d317;
$il-brand-green-luh-calendar: #abb24a;
$il-brand-gray-luh-light: #999999;
$il-brand-gray-luh-lighter: #cccccc;
$il-brand-gray-luh-1: #e6e6e6;
$il-brand-gray-luh-2: #f0f0f0;
$il-brand-gray-luh-3: #f7f7f7;
